.sp-title{
	font-size: 3rem;
	margin-top: 15px;
}
.mainDiv{
	margin-top: -200px;
}

.card{
	/* margin: 2px 20px; */
	margin-top: -50px;
	background-color: #111;
}
.card2{
	boxShadow: "5px 10px red";
}

.speaker {
	width: 90%;
	max-width: 300px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	color: #fdfdfd;
	padding: 10px 0;
}

.speaker img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}

.speaker .name {
	font-size: 1.6rem !important;
	margin-bottom: 10px;
	font-weight: 700;
}

.speaker .desc {
	font-size: 1rem;
}

.speaker .date {
	margin-top: 8px;
	font-size: 1.1rem;
	font-weight: 400;
}

.speaker .topic {
	font-weight: 900;
	font-size: 0.95rem;
}
.Anoopam{
	color: #133CEB
}
.Aman{
	color: #133CEB
}
.desc{
	color: #315EEB;
}
.desc1{
	color: #315EEB;
}

@media (max-width: 576px) {
	.sp-title {
		font-size: 1.7rem;
	}
	.speaker img {
		width: 80px;
		height: 80px;
	}
	.speaker .name {
		font-size: 1.2rem !important;
		margin-bottom: 10px;
		/* text-shadow: 1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222,
			1px 1px 0 #222, 2px 2px 0 #429ebe, 3px 3px 0 #429ebe,
			3px 3px 0 #429ebe, 4px 4px 0 #429ebe; */
	}
	.speaker .desc {
		font-size: 0.8rem;
	}
	.speaker .date {
		font-size: 0.6rem;
	}
	.speaker .topic {
		font-size: 0.7rem;
	}
}
