.title-section {
	font-family: "Poppins", sans-serif;
	color: white;
	text-align: center;
	z-index: 3000;
}

.main-title {
	font-weight: 600;
	font-size: 5rem;
	margin-top: 5px;
	margin-bottom: 5px;
	letter-spacing: 10px;
	text-shadow: -3px -3px 0 #222, 3px -3px 0 #222, -3px 3px 0 #222, 3px 3px 0 #222, 4px 4px 0 #429ebe, 5px 5px 0 #429ebe, 6px 6px 0 #429ebe, 7px 7px 0 #429ebe;
	/* text-shadow: -3px -3px 0 #222, 3px -3px 0 #222, -3px 3px 0 #222, 3px 3px 0 #222, 4px 4px 0 #fff, 5px 5px 0 #fff, 6px 6px 0 #fff, 7px 7px 0 #fff; */
	/* text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4); */
}

.main-subtitle {
	font-weight: 400;
	font-size: 2rem;
}

@media screen and (max-width: 1000px) {
	.main-title {
		font-size: 4rem;
	}
	.main-subtitle {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 800px) {
	.main-title {
		font-size: 3rem;
	}
	.main-subtitle {
		font-size: 1.2rem;
	}
}

/* @media screen and (max-width: 600px) {
	.main-title {
		font-size: 1.5rem;
	}
	.main-subtitle {
		font-size: 1rem;
	}
} */

.butbox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 200;
}
.centerly{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.discord {
	display: flex;
    background-color: rgb(114, 137, 218);
	border: none;
    margin: 20px auto;
    border-radius: 4px;
    align-items: center;
    padding: 8px 20px;
	box-shadow: 0px 0px 7px rgba(114, 137, 218, 0.8);
	cursor: pointer;
	min-width: 250px;
	max-height: 60px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 200;
}
.discord a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 1.6rem;
	outline: none;
}

.discord:hover {
	background-color: rgba(114, 137, 218, 0.9);
}

.discord img {
	background-color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.cclogo {
	display: flex;
    background-color: rgb(83, 18, 18);
	border: none;
    margin: 20px auto;
    border-radius: 4px;
    align-items: center;
    padding: 8px 20px;
	box-shadow: 0px 0px 7px rgba(114, 137, 218, 0.8);
	cursor: pointer;
	min-width: 250px;
	max-height: 60px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 200;
}
.cclogo a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
	outline: none;
	text-align: center;
	cursor: pointer;
}
.cclogo:hover{
	background-color: rgb(77, 15, 15);
}

.cclogo img {
	padding-top: 3px;
	background-color: rgb(51, 5, 5);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}
@media (max-width: 480px) {
	.discord {
		min-width: 170px;
		max-height: 50px;
	}
	.discord a{
		font-size: 1.1rem;
	}
	.discord img {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		margin-right: 5px;
	}
	.cclogo {
		min-width: 170px;
		max-height: 50px;
	}
	.cclogo a{
		font-size: 1.1rem;
	}
	.cclogo img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 5px;
	}
}