.timeline-section {
	color: white;
	width: 95%;
	font-family: "Poppins", sans-serif;
}

.timeline-section h1, h3 {
	margin: 0;
}

.text-style {
	text-shadow: 1px 1px 1px #323232, 1px 2px 1px #636363, 1px 3px 1px #919191, 1px 4px 1px #919191;
}

.timeline-sub {
	font-weight: bold;
	color: #82c8db !important;
}

.timeline-div {
	margin-bottom: 50px !important;
}

@media screen and (max-width: 1000px) {
	.timeline-section h1 {
		font-size: 1rem;
	}
	.timeline-section h3 {
		font-size: 0.8rem;
	}
	.timeline-div {
		margin-bottom: 25px !important;
	}
}