.timeline-section {
	color: white;
	width: 95%;
	font-family: "Poppins", sans-serif;
}

.timeline-section h1, h3 {
	margin: 0;
}

.text-style {
	text-shadow: -3px -3px 0 #222, 3px -3px 0 #222, -3px 3px 0 #222, 3px 3px 0 #222, 4px 4px 0 #429ebe;
}

.timeline-sub {
	font-weight: bold;
	color: #82c8db !important;
}

.timeline-div {
	margin-bottom: 50px !important;
}
.reg{
	display: block;
}
.reg1{
	display: none;
}

@media screen and (max-width: 1000px) {
	.timeline-section h1 {
		font-size: 1rem;
	}
	.timeline-section h3 {
		font-size: 0.8rem;
	}
	.timeline-div {
		margin-bottom: 25px !important;
	}
}
@media screen and (max-width: 360px) {
	.reg{
		display: none;
	}
	.reg1{
		display: block;
	}

}