.prizes-section {
	display: flex;
	width: 100%;
	padding: 0 5%;
}

.grid-section {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	text-align: center;
}

.prize-rs {
	font-size: 4rem !important;
	color: #82c8db !important;
	margin-bottom: 30px !important;
}

.prize-divider {
	width: 100%;
	height: 5px;
	background-color: white;
	border-radius: 10px;
}

.prize-sub {
	font-size: 3rem;
	color: white;
}

@media screen and (max-width: 960px) {
	.prize-rs {
		font-size: 2rem !important;
		margin-bottom: 10px !important;
	}
	.prize-sub {
		font-size: 1.5rem;
	}
	.prizes-section {
		flex-direction: column;
	}
}