.prizes-section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 5%;
}

.grid-section {
	display: flex;
	width: 45%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	text-align: center;
}

.prize-rs {
	font-size: 3.8rem !important;
	color: #82c8db !important;
	margin-bottom: 30px !important;
}

.prize-divider {
	width: 60%;
	height: 2px;
	background-color: white;
	border-radius: 10px;
}

.prize-sub {
	font-size: 2.8rem;
	color: white;
}

.swag-img {
	width: 250px;
}

@media screen and (max-width: 1250px) {
	.prize-rs {
		font-size: 2rem !important;
		margin-bottom: 10px !important;
	}
	.prize-sub {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 960px) {
	.prizes-section {
		flex-direction: column;
	}
	.grid-section {
		width: 100%;
	}
	.swag-img {
		width: 150px;
	}
	.prize-divider {
		width: 40%;
	}
}
