.window-pane.light {
	background-color: white !important;
	color: #101010;
}

.window-pane.register {
	text-align: left;
	justify-content: start;
	overflow: hidden;
	align-items: flex-start;
	font-size: 1.4rem;
	font-weight: 600;
	color: #efefef;
}

.window-pane.register input {
	margin-left: 6px;
	background: transparent;
	outline: none;
	border: none;
	flex: 1 0;
	font-size: 1.1rem;
	font-weight: 600;
	width: max-content;
	color: #efefef;
	min-width: 200px;
}

.window-pane.register input:focus {
	outline: none;
}

.terminal-err {
	color: red;
}

.terminal-success {
	color: rgb(69, 228, 69);
}

.terminal-blue {
	color: rgb(69, 228, 69);
}

.window-pane.register button {
	outline: none;
	border: none;
	margin-top: 2rem;
	background-color: transparent;
	font-size: 1.3rem;
	font-weight: 600;
	padding: 0;
	color: rgb(69, 228, 69);
}

.mt {
	margin-top: 2rem !important;
}

.window-pane.register div {
	margin-top: 3px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

@media (max-width: 650px) {
	.window-pane.register {
		font-size: 1rem;
	}
	.window-pane.register input {
		font-size: 1rem;
		font-weight: 400;
	}
}

@media (max-width: 450px) {
	.window-pane.register {
		font-size: 1.2rem;
	}
	.window-pane.register input {
		font-size: 1.2rem;
		width: 100%;
		flex: auto;
		border-bottom: 1px solid #000;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}